* {
	margin: 0;
}

body {
	background-color: rgba(78, 78, 78, 0.092);
}

header {
	display: flex;
	justify-content: left;
	position: fixed;
	z-index: 1000;

}

nav li {
	display: inline-block;
	text-transform: uppercase;
	margin-top: 8px;
	margin-bottom: 8px;
	margin-right: 30px;
	vertical-align: middle;
}

.linked {
	color: rgba(0, 0, 0, 0.382);
	font-size: 25px;

	font-family: 'Joan', cursive;
	vertical-align: middle;
}

.bold {
	font-family: 'Fascinate Inline', cursive;
	color: black;
	font-size: 35px;
	vertical-align: middle;
}

.linked {
	text-decoration: none;
}

.linked:hover {
	color: aliceblue;
	text-shadow: 0 0 10px black;
}

.linked:active {
	text-shadow: 0 0 20px black;
	color: aliceblue;
}

/* ***************************************** */