.form {}

.sub {
	display: flex;
	align-items: center;
	justify-content: center;
}

.form-mail {
	width: 300px;
	height: 31px;
	font-size: 30px;
}

.form-comment {
	width: 500px;
	height: 200px;
	font-size: 30px;
	margin-top: 10px;
}




.label {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 20px;
}

.label .comment {}

.label .mail {}

button {
	display: block;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 30px;
	font-family: Arial, Helvetica, sans-serif;
	width: 300px;
	height: 50px;
}

ul {
	background-color: rgba(48, 141, 179, 0.284);
	padding: 10px;
}


ul li {
	background-color: rgba(48, 142, 179, 0.618);
	width: 50%;
	border-radius: 15px;
	text-decoration: none;
	list-style-type: none;
	font-size: 25px;
	font-family: Arial, Helvetica, sans-serif;
	padding: 8px;
	margin: 1px;
}

#general__com {
	font-size: 40px;
	background-color: rgb(24, 125, 165);
	color: white;
	font-weight: bold;
	text-align: center;
}